/********** Base **********/

html {
    font-family: $font-family;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $gray-text;
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 8.25em;
    width: 100%;
    background-color: #fff;
    z-index: 9999991;

    @media screen and (max-width: 895px) {
        height: 8em; 
    }

    @media screen and (max-width: 600px) {
        height: 6em; 
    }
}

.header-content {
    position: relative;
    width: 70em;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-bottom: 1em;
}

.logo {
    max-width: 50%;

    @media screen and (max-width: 74em) {
        padding-left: 2em;
    }

 img {
    width: 17em;
    // top: 0.1875em;
    top: 0.25em;
    position: relative;
    max-width: 100%;
    max-height: auto;
    }
}

.lang-switcher { 
    font-size: 0.8em;

    img {
        // height: 0.8em;
    }
}

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  ul.menu li {
    margin-right: 5%;
    }
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70em;
    max-width: 100%;
    overflow-x:hidden;
    position: relative;
}

main {
    margin-top: 8.25em;
    width: 70em;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 895px) {
        margin-top: 8em; 
    }

    @media screen and (max-width: 500px) {
        margin-top: 6em; 
    }
}

.hero {
    padding-bottom: 0;
    margin-bottom: 0;
 
 img {
    vertical-align:bottom;
    }
}


.no-hero {
    padding-top: 6.75em;

     h1, h2 {
        font-size: 2em;
        padding-bottom: 1em;
        font-weight: 700;
        }

    @media screen and (max-width: 895px) {
        padding-top: 3em;
    }
}


.light-gray { 
    background-color: $light-gray; 
}


.wide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 70em;
    padding-bottom: 1.5em;

    @media screen and (max-width: 895px) {
        padding-bottom: 1em;
    }

 h1 {
    margin: 1.5em 0 1em 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
    }
}

.second {
    padding-top: 5.5em;
    position: relative;
    padding-bottom: 3em;

    @media screen and (max-width: 895px) {
        padding-top: 3em;
    }

}

.intro {
    width: 50em;
    max-width: 90%;

  p {
    font-size: 1.5rem;
    line-height: 1.41666667;
    letter-spacing: 0.24px;
    padding-bottom: 2em;

    @media screen and (max-width: 895px) {
        font-size: 1.125rem;
    }
  }
}


.ftr {
        background-position: 0 0;
        padding-top: 1.75em;
        padding-left: 15em;
        width: 56rem;
        max-width: 100%;

        @media screen and (max-width: 895px) {
            padding-left: 27%;
            padding-top: 0.75em;
            margin-bottom: 3em;
        }
}


.feature, blockquote {
    background: url("/img/line.svg") no-repeat;
    background-position: left 2px;
    padding-left: 3em;
    width: 50rem;
    max-width: 100%;

    @media screen and (max-width: 895px) {
        padding-left: 1.25rem;
        margin-bottom: 3em;
    }
}

.feature, .ftr {
    // max-width: 90%;
    margin-bottom: 1.75em;

    @media screen and (max-width: 895px) {
        margin-left: 2em;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #474139;
        padding-bottom: 0.375em;
        line-height: 1;

        @media screen and (max-width: 895px) {
            font-size: 1.25rem;
            }
        }

    p {
        font-size: 1.3125rem;
        // font-size: 1rem;
        font-weight: 400;
        color: #474139;
        line-height: 1.5;
        padding-bottom: 1.5em;

        @media screen and (max-width: 895px) {
            font-size: 1rem;
            padding-right: 2em;
            }
        }

    a {
        color: $orange;
        font-weight: 700;
        }
}


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // background-color: $light-gray;
    width: 23.75rem;
    max-width: 90%;
    // gap: 2rem;
}

.rect {
    width: 50em;
    max-width: 100%;
    margin-top: 2em;
    padding: 2em;

    p {
        font-size: 1.25rem;
    }
}

.rect-heading {
    font-size: 1.625rem;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.card-heading {
    width: 100%;
    background: $orange;
    /*height: 4.375rem;*/
    font-size: 2rem;
    line-height: 2;
    padding-left: 1em;
    color: #fff;
    font-weight: 700;
}

.list-heading {
    font-size: 1.625rem;
    font-weight: 700;
    margin-left: 1.5em;
    margin-top: 1.5em;
    // line-height: 2;
}

.card ul {
    padding: 0.5em 0 2em 0;
}

.card li {
    list-style: disc;
    margin-left: 3em;
    font-size: 1.25rem;
    line-height: 1.4;
}


.italic {
    font-style: italic;
}

h1 { 
    text-align: center; 
    // max-width: 90%;
    line-height: 1.4;
}

h1.left {
    text-align: left;
}

h1, h2, strong { 
    font-weight: 700; 
}

h1.sub-circles {
    margin-top: 0.5em !important;
}

.heading-orange-text {
    font-size: 2.5rem;
    color: $orange;
    margin-bottom: 1em;
}

a:hover { 
	opacity: 0.8; 
}

 .dark-gray {
    background-color: $dark-gray;
 }

 .orange {
    background-color: $orange;
 }

 .blue {
    background-color: $blue;
 }

.orange-text {
    color: $orange;
}

.white-text { 
    color: #fff; 
}


.error {
    h1 {
        font-size: 10vw;
    }

    p {
        font-size: 2vw;
    }

    p.back {
        font-size: 3vw;
        text-align: center;
        margin: 2em 0;
    }
}