








.ca, .idp, .cb, .sca, .ea, .vaga, .lcc, .rtir, .esgs, .cr {
    background-repeat: no-repeat;
    padding-top: 8em;
}

.ca {
    background-image: url("/img/conversational-ai.svg");
    background-position: center 48px;
    background-size: 60px;
}

.idp {
    background-image: url("/img/intelligent-document-processing.svg");
    background-position: center 58px;
    background-size: 90px;
}


.cb {
    background-image: url("/img/chatbots.svg");
    background-position: center 48px;
    background-size: 180px;
}

.sca {
    background-image: url("/img/smart-call-assistance.svg");
    background-position: center 48px;
    background-size: 90px;
}

.ea {
    background-image: url("/img/employee-assistants.svg");
    background-position: center 48px;
    background-size: 160px;
}

.vaga {
    background-image: url("/img/voice-assistant-google-assistant.svg");
    background-position: center 48px;
    background-size: 160px;
}


.lcc {
    background-image: url("/img/legal-contract-checker.svg");
    background-position: center 48px;
    background-size: 120px;
}

.rtir {
    background-image: url("/img/real-time-information-recap.svg");
    background-position: center 48px;
    background-size: 120px;
}

.esgs {
    background-image: url("/img/esg-scan.svg");
    background-position: center 48px;
    background-size: 180px;
}

.cr {
    background-image: url("/img/compliance-reviewer.svg");
    background-position: center 48px;
    background-size: 100px;
}







.hamburger {
    display: none;
}








@media screen and (max-width: 895px) {

    header { 
        height: 8em; 
    }

    main { 
        margin-top: 8em; 
    }

    .no-hero {
        padding-top: 3em;
    }

    .wide {
        padding-bottom: 1em;
    }

    .second {
        padding-top: 3em;
    }

    .intro p { 
        font-size: 1rem;
    }

    .feature-dark-line {
        p {
           font-size: 1rem; 
        }
    }

    .feature, .ftr {

        margin-left: 2em;
        
        h2 { 
            font-size: 1.25rem;
        }
        p {
            font-size: 1rem;
            padding-right: 2em;
        }
    }

    .feature {
        padding-left: 1.25rem;
        margin-bottom: 3em;
    }

    .ftr {
        padding-left: 27%;
        padding-top: 0.75em;
        margin-bottom: 3em;
    }

    #f00, #f01, #f02, #f03, #f04, #f05 {
        background-size: 27%;
    }

}

@media screen and (max-width: 74em) {
    .logo { padding-left: 2em; }
    .media p { font-size: 1rem; }
}


@media screen and (max-width: 1060px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: inline;
  }
}

@media screen and (max-width: 1060px) {
    .circles { display: none; }
}




@media screen and (max-width: 74em) {
    .logo { padding-left: 2em; }
    .media p { font-size: 1rem; }
}



.language-switcher {
    position: absolute;
    top: 2em;
    right: 0;
}

.language-list {
    display: flex;
    gap: 2em;
}




// .updates4 {
//     display: none;
// }
