
.hamburger {
    display: none;
}



@media screen and (max-width: 895px) {

    header { 
        height: 8em; 
    }

    main { 
        margin-top: 8em; 
    }

    .no-hero {
        padding-top: 3em;
    }

    .wide {
        padding-bottom: 1em;
    }

    .second {
        padding-top: 3em;
    }

    .intro p { 
        font-size: 1rem;
    }

    .feature-dark-line {
        p {
           font-size: 1rem; 
        }
    }

    .feature, .ftr {

        margin-left: 2em;
        
        h2 { 
            font-size: 1.25rem;
        }
        p {
            font-size: 1rem;
            padding-right: 2em;
        }
    }

    .feature {
        padding-left: 1.25rem;
        margin-bottom: 3em;
    }

    .ftr {
        padding-left: 27%;
        padding-top: 0.75em;
        margin-bottom: 3em;
    }

    #f00, #f01, #f02, #f03, #f04, #f05 {
        background-size: 27%;
    }

}

@media screen and (max-width: 74em) {
    .logo { padding-left: 2em; }
    .media p { font-size: 1rem; }
}


@media screen and (max-width: 1060px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: inline;
  }
}

@media screen and (max-width: 1060px) {
    .circles { display: none; }
}




@media screen and (max-width: 74em) {
    .logo { padding-left: 2em; }
    .media p { font-size: 1rem; }
}



.language-switcher {
    position: absolute;
    top: 2em;
    right: 0;
}

.language-list {
    display: flex;
    gap: 2em;
}




// .updates4 {
//     display: none;
// }
