<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{ partial "header.html" . -}}
        <div id="container">
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        </div>
        {{- partial "footer.html" . -}}

        <!-- {{ partial "consent.html" . }} -->
        
        {{ if .IsHome }} <script type="text/javascript" src="/slick/slick.min.js"></script> {{ end }}
        {{ if .IsHome }} <script type="text/javascript" src="/js/myslick.js"></script> {{ end }}
    </body>
</html>
