{{ define "main" }}
{{ partial "hero.html" . }}

<section class="wide light-gray">

	{{ partial "hero-circles.html" . }}
	
	<section class="intro">
		<h1 class="sub-circles">{{ .Page.Title }}</h1>
		<p>{{ .Params.intro_text }}</p>
	</section>
</section>

<section class="wide second">

{{ partial "features.html" . }}

<h2 class="heading-orange-text">{{ .Params.page_heading_2 }}</h2>

<div class="cards">
	{{ with .Params.legal_contract_checker }}  
	<section class="card solutions orange cb">
		<h3 class="list-heading">{{ .box_title }}</h3>
		<p class="card-text">{{ markdownify .box_text }}</p>
		<p class="read-more"><a class="white-text" href="/contact/">Get in touch</a></p>
	</section>
	{{ end }}

	{{ with .Params.realtime_information_recap }}  
	<section class="card solutions orange sca">
		<h3 class="list-heading">{{ .box_title }}</h3>
		<p class="card-text">{{ markdownify .box_text }}</p>
		<p class="read-more"><a class="white-text" href="/contact/">Get in touch</a></p>
	</section>
	{{ end }}

	{{ with .Params.esg_scan }}  
	<section class="card solutions orange ea">
		<h3 class="list-heading">{{ .box_title }}</h3>
		<p class="card-text">{{ markdownify .box_text }}</p>
		<p class="read-more"><a class="white-text" href="/contact/">Get in touch</a></p>
	</section>
	{{ end }}

	{{ with .Params.compliance_reviewer }}  
	<section class="card solutions orange vaga">
		<h3 class="list-heading">{{ .box_title }}</h3>
		<p class="card-text">{{ markdownify .box_text }}</p>
		<p class="read-more"><a class="white-text" href="/contact/">Get in touch</a></p>
	</section>
	{{ end }}

	{{ range .Pages.ByDate.Reverse }}
    <a class="white-text" href="{{ .Permalink }}">
		<section class="card rect blue">
			<h3 class="rect-heading">{{ .Title }}</h3>
			<p>{{ .Params.intro_text }}</p>
			<p class="read-more">Read more</p>
		</section>
	</a>
    {{ end }}

</div>

</section>

{{ partial "two-round-buttons.html" . }}

{{ end }}