{{ define "main" }}

<section class="wide light-gray">
		
		<h1>{{ .Params.page_title }}</h1>
	
	<section class="intro">
		<p>{{ markdownify .Params.intro_text }}</p>
	</section>
</section>

<section class="blog4 wide orange">

	<div class="section-name">
		<div class="section-logo">
			<img src="/img/blog-white.svg" alt="">
			<h2>blog</h2>
		</div>
		<div class="section-link">
			<a class="all" href="blog/">see all</a>
		</div>
	</div>

	<div class="list">
	    {{ range first 4 (where .Site.Pages "Layout" "blog") }}
		    <a href="{{ .Permalink }}">
		    <div class="list-card">
		    	<div class="list-card-img"><img src="{{ .Params.featured_image }}" alt=""></div>
		        <h1>{{ .Title }}</h1>
		        <p>{{ .Params.summary }}</p>
		    </div>
		    </a>
		    {{ end }}
	</div>

</section>

<section class="podcast4 wide blue">
	
	<div class="section-name">
		<div class="section-logo">
			<img src="/img/podcast-white.svg" alt="">
			<h2>podcast</h2>
		</div>
		<div class="section-link">
			<a class="all" href="podcast/">see all</a>
		</div>
	</div>

	<div class="list">
	    {{ range first 4 (where .Site.Pages "Layout" "podcast") }}
		    <a href="{{ .Permalink }}">
		    <div class="list-card">
		    	<div class="list-card-img"><img src="{{ .Params.featured_image }}" alt=""></div>
		        <h1>{{ .Title }}</h1>
		        <p>{{ .Params.summary }}</p>
		    </div>
		    </a>
		   {{ end }}
	</div>
	
</section>





{{ end }}