/********** Menu **********/

a {
  text-decoration: none;
}


.hamburger {
    display: none;
}


ul.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 1em;

  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    font-size: 1.25rem;
    padding: 0 0.75rem;

    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    }

  li ul li {
    clear: both;
    width: 100%;
    white-space: nowrap;
    }

  li:hover {
    background: #fff;
    cursor: pointer;
    }

  li a:hover {
    color: $orange;
  }

  li.active a { 
    text-decoration: none; 
    color: #f08900;
    }

}


ul.menu li:hover > ul,
ul.menu li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: #fff;
}


ul.submenu {
  padding-top: 7px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;

  li {
    line-height: 2;
  }

  li:hover {
    background-color: #fafafa;
  }

  a:hover li {
    color: $orange;
  }

}


.active {
  color: $orange;
}

.inactive {
  color: $dark-gray;
}


.language-switcher {
    position: absolute;
    top: 2em;
    right: 0;
}


@media screen and (max-width: 1060px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: inline;
  }
}