

/********** Main **********/


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70em;
    max-width: 100%;
    // max-width: 90%;
}

main {
    width: 70em;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 8.25em;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

main { margin-top: 8.25em; } 

.header-content {
    position: relative;
    width: 70em;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-bottom: 1em;
        // background-color: yellow;
}


.logo {
    max-width: 50%;

 img {
    width: 17em;
    // top: 0.1875em;
    top: 0.25em;
    position: relative;
    max-width: 100%;
    max-height: auto;
    }
}




.lang-switcher { 
    font-size: 0.8em;

    img {
        // height: 0.8em;
    }
}


@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  ul.menu li {
    margin-right: 5%;
}
}





.hero {
    padding-bottom: 0;
    margin-bottom: 0;
 
 img {
    vertical-align:bottom;
    }
}


.no-hero {
    padding-top: 6.75em;

     h1, h2 {
        font-size: 2em;
        padding-bottom: 1em;
        font-weight: 700;
        }
}



.light-gray { 
    background-color: $light-gray; 
}


/**************************/
/******** Elements *********/
/**************************/



.wide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 70em;
    padding-bottom: 3em;

 h1 {
    margin: 1.5em 0 1em 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
    }
}

.second {
    padding-top: 5.5em;
    position: relative;
    padding-bottom: 3em;
}

h1.approach {
    margin: 0;
    padding: 0 0 1em 0;
}

.intro {
    width: 50em;
    max-width: 90%;

  p {
    font-size: 1.5rem;
    line-height: 1.41666667;
    letter-spacing: 0.24px;
    padding-bottom: 2em;
  }
}


.blog {

}









.square-card {
    display: flex;
    // grid-template-columns: 1fr 232px;
    background-color: #4bacc5;
    width: 50.25em;
    max-width: 100%;
    margin: 6em 0 6em 0;

     // overflow: hidden;

    @media screen and (min-width: 640px) {
    height: 277px;
    // max-width: 232px;
    }

    @media screen and (max-width: 840px) {
        .quote p {
        font-size: 1.5em;
        }  
    }
    @media screen and (max-width: 639px) {
        display: flex;
        flex-direction: column;
        max-width: 232px;
        margin-top: 4em;
        .square-text {
            font-size: 0.75rem;
            order: 2;
        }
        .author-image {
            order: 1;
        }
        .author p {
            // font-size: 10px;
        }
    }

}

.square-text {
    flex: 1;
}

.quote p {
    font-size: 1.4em;
    font-weight: 600;
    color: #fff;
    padding: 1.5em 1.5em 1em 1.5em;
    font-style: italic;
    letter-spacing: 1px;
}

.author p {
    font-size: 1.125rem;
    color: #000000;
    font-weight: 700;
    text-align: right;
    padding-right: 2em;
    padding-bottom: 1em;
}

.from {
    color: #fff;
}

.author-image {
    // flex: 0 0 232px;
    flex: 0 0 277px;
}






.media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     width: 50em;
     max-width: 100%;
     margin-bottom: 5em;
}

.media-item img {
    margin: auto;
    display: block;
    height: 3em;
    padding-bottom: 0.5em;
}

.media p {
    font-size: 1.5em;
    text-align: center;
    width: 6.5em;
    font-weight: 700;
}





.contact-address-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 4em;
    grid-gap: 10px;
    width: 800px;
    max-width: 100%;
    grid-gap: 3em;
}

.address-card {
    width: 375px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
}

.address-card h2 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1em;
}



.map {
    width: 375px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.address-card-text {
    background-color: $light-gray;
    padding: 0 2em 2em 2em;
}

.address-card-text p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
}

.label {
    padding-top: 2em;
}





.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // background-color: $light-gray;
    width: 23.75rem;
    max-width: 90%;
    // gap: 2rem;
}

.rect {
    width: 50em;
    max-width: 100%;
    margin-top: 2em;
    padding: 2em;

    p {
        font-size: 1.25rem;
    }
}

.rect-heading {
    font-size: 1.625rem;
    font-weight: 700;
    padding-bottom: 0.5em;
}

.card-heading {
    width: 100%;
    background: $orange;
    /*height: 4.375rem;*/
    font-size: 2rem;
    line-height: 2;
    padding-left: 1em;
    color: #fff;
    font-weight: 700;
}

.list-heading {
    font-size: 1.625rem;
    font-weight: 700;
    margin-left: 1.5em;
    margin-top: 1.5em;
    // line-height: 2;
}

.card ul {
    padding: 0.5em 0 2em 0;
}

.card li {
    list-style: disc;
    margin-left: 3em;
    font-size: 1.25rem;
    line-height: 1.4;
}


.ca, .idp, .cb, .sca, .ea, .vaga, .lcc, .rtir, .esgs, .cr {
    background-repeat: no-repeat;
    padding-top: 8em;
}

.ca {
    background-image: url("/img/conversational-ai.svg");
    background-position: center 48px;
    background-size: 60px;
}

.idp {
    background-image: url("/img/intelligent-document-processing.svg");
    background-position: center 58px;
    background-size: 90px;
}


.cb {
    background-image: url("/img/chatbots.svg");
    background-position: center 48px;
    background-size: 180px;
}

.sca {
    background-image: url("/img/smart-call-assistance.svg");
    background-position: center 48px;
    background-size: 90px;
}

.ea {
    background-image: url("/img/employee-assistants.svg");
    background-position: center 48px;
    background-size: 160px;
}

.vaga {
    background-image: url("/img/voice-assistant-google-assistant.svg");
    background-position: center 48px;
    background-size: 160px;
}


.lcc {
    background-image: url("/img/legal-contract-checker.svg");
    background-position: center 48px;
    background-size: 120px;
}

.rtir {
    background-image: url("/img/real-time-information-recap.svg");
    background-position: center 48px;
    background-size: 120px;
}

.esgs {
    background-image: url("/img/esg-scan.svg");
    background-position: center 48px;
    background-size: 180px;
}

.cr {
    background-image: url("/img/compliance-reviewer.svg");
    background-position: center 48px;
    background-size: 100px;
}



.solutions p {
    margin-top: -1em;
    font-size: 1.25rem;
    padding: 2em;
    letter-spacing: 0.2px;
    line-height: 1.4;
}






.box {
    width: 800px;
    max-width: 100%;
    margin: 3em 0;
}

.pd {
    padding: 2em;
}

.shelf {
    h2 {
        font-size: 2.375rem;
        color: $orange;
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
        }
}



.hamburger {
    display: none;
}


#f00 {
    background: url("/img/f00.png") no-repeat;
}

#f01 {
    background: url("/img/f01.png") no-repeat;
}

#f02 {
    background: url("/img/f02.png") no-repeat;
}

#f03 {
    background: url("/img/f03.png") no-repeat;
}

#f04 {
    background: url("/img/f04.png") no-repeat;
}

#f05 {
    background: url("/img/f05.png") no-repeat;
}


.ftr {
        background-position: 0 0;
        padding-top: 1.75em;
        padding-left: 15em;
        width: 56rem;
        max-width: 100%;
}




.feature {
    background: url("/img/line.svg") no-repeat;
    background-position: left 2px;
    padding-left: 3em;
    width: 50rem;
    max-width: 100%;
}

.feature, .ftr {
    // max-width: 90%;
    margin-bottom: 3.75em;

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #474139;
        padding-bottom: 0.375em;
        line-height: 1;
        }

    p {
        font-size: 1.3125rem;
        font-weight: 400;
        color: #474139;
        line-height: 1.5;
        }

    a {
        color: $orange;
        font-weight: 700;
        }
}

.feature-dark-line {
    background: url("/img/line-dark.svg") no-repeat;
    background-position: left 8px;
    padding-left: 3em;
    width: 50.7rem;
    max-width: 90%;
    margin-bottom: 3.75em;

    p {
        font-size: 1.3125rem;
        font-weight: 400;
        color: #474139;
        line-height: 1.5;
        }

}

@media screen and (max-width: 895px) {

    header { 
        height: 6em; 
    }

    main { 
        margin-top: 6em; 
    }

    .no-hero {
        padding-top: 3em;
    }

    .wide {
        padding-bottom: 1em;
    }

    .second {
        padding-top: 3em;
    }

    .intro p { 
        font-size: 1rem;
    }

    .feature-dark-line {
        p {
           font-size: 1rem; 
        }
    }

    .feature, .ftr {

        margin-left: 2em;
        
        h2 { 
            font-size: 1.25rem;
        }
        p {
            font-size: 1rem;
            padding-right: 2em;
        }
    }

    .feature {
        padding-left: 1.25rem;
        margin-bottom: 3em;
    }

    .ftr {
        padding-left: 27%;
        padding-top: 0.75em;
        margin-bottom: 3em;
    }

    #f00, #f01, #f02, #f03, #f04, #f05 {
        background-size: 27%;
    }

}

@media screen and (max-width: 74em) {
    .logo { padding-left: 2em; }
    .media p { font-size: 1rem; }
}


@media screen and (max-width: 1060px) {
  .nav {
    display: none;
  }
  .hamburger {
    display: inline;
  }
}

@media screen and (max-width: 1060px) {
    .circles { display: none; }
}




@media screen and (max-width: 74em) {
    .logo { padding-left: 2em; }
    .media p { font-size: 1rem; }
}



.language-switcher {
    position: absolute;
    top: 2em;
    right: 0;
}

.language-list {
    display: flex;
    gap: 2em;
}




// .updates4 {
//     display: none;
// }
