h1.approach {
    margin: 0;
    padding: 0 0 1em 0;
}

#f00 {
    background: url("/img/f00.png") no-repeat;
}

#f01 {
    background: url("/img/f01.png") no-repeat;
}

#f02 {
    background: url("/img/f02.png") no-repeat;
}

#f03 {
    background: url("/img/f03.png") no-repeat;
}

#f04 {
    background: url("/img/f04.png") no-repeat;
}

#f05 {
    background: url("/img/f05.png") no-repeat;
}