/********** Case study **********/

.case-study {
	h1, p { 
		color: #fff;
	}
}

.cs-content {
	width: 50em;
	max-width: 100%;
	padding-bottom: 0;

	p {
		font-size: 1.25rem;
		line-height: 1.5;
		margin-bottom: 2em;
	}

	h2 {
		font-size: 2rem;
		align-self: flex-start;
		padding-bottom: 0.5em;
	}

	blockquote p {
		font-size: 2rem;
		color: $blue;
		font-weight: 700;
		margin-bottom: 2rem;
	}
}