/********** Home **********/

.home {
    padding-bottom: 2em;
}

.square-card {
    display: flex;
    // grid-template-columns: 1fr 232px;
    background-color: #4bacc5;
    width: 50.25em;
    max-width: 100%;
    margin: 6em 0 6em 0;

     // overflow: hidden;

    @media screen and (min-width: 640px) {
    height: 277px;
    // max-width: 232px;
    }

    @media screen and (max-width: 639px) {
        display: flex;
        flex-direction: column;
        max-width: 232px;
        margin-top: 4em;
        .square-text {
            font-size: 0.75rem;
            order: 2;
        }
        .author-image {
            order: 1;
        }
        .author p {
            // font-size: 10px;
        }
    }

}

.square-text {
    flex: 1;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: #ededed;
    width: 50.25em;
    max-width: 90%;
    margin: 6em 0 6em 0;
    border-radius: 500px;

    @media screen and (max-width: 430px) {
            flex-direction: column;
            width: 240px;
            max-width: 90%;
            }

    .square-text {
        margin-left: 1em;
        padding: 2em 5em 0.5em 0;

         @media screen and (max-width: 430px) {
            margin-left: 1em;
            padding: 0.5em 1em 4.5em 0.5em;
            }

        p {
            font-size: 1.25rem;
            font-weight: 700;
            padding-bottom: 0.5em;
            line-height: 1.4;

            @media screen and (max-width: 840px) {
                font-size: 1rem;
            }

            @media screen and (max-width: 667px) {
                font-size: 0.875rem;
            }
        }
    }
}

.quote p {
    color: $gray-text;
}

.quote-author p {
    color: $blue;
}

.from {
    color: $blue;
}

.quote-author-image img {
    // flex: 0 0 232px;
    // flex: 0 0 277px;
    width: 240px;
    border-radius: 50%;
    padding: 20px;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     width: 50em;
     max-width: 100%;
     margin-bottom: 5em;
}

.media-item img {
    margin: auto;
    display: block;
    height: 3em;
    padding-bottom: 0.5em;
}

.media p {
    font-size: 1.5em;
    text-align: center;
    width: 6.5em;
    font-weight: 700;

    @media screen and (max-width: 74em) {
        font-size: 1rem;
    }
}