/********** Smart Call Assistance **********/
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html { scroll-behavior: smooth; scroll-padding-top: 8.25em; scroll-snap-stop:  8.25em; } 

.sca-feature-section {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: 4.6rem;
  align-items: center;
}

.time-line {
  margin: 5rem 0;
  position: relative;
  font-weight: 700;
}

.time-line .link {
  position: absolute;
  text-align: center;
}

.link-01 {
  bottom: -3rem;
  left: 5rem;
}
.link-02 {
  top: -3rem;
  left: 15rem;
}
.link-03 {
  bottom: -3rem;
  left: 24rem;
}
.link-04 {
  top: -3rem;
  right: 14rem;
}
.link-05 {
  bottom: -3rem;
  right: 5rem;
}
.wide-right h1, .wide-left h1 {
  font-size: 1.5rem;
}

.wide-right p, .wide-left p {
  line-height: 1.65rem;
}

.wide.wide-left {
  align-items: flex-end;
}

h2.title {
  margin-bottom: 1.25rem;
}

.wide.wide-right {
  align-items: flex-start;
}

#sca01, #sca03, #sca05 {
  border-right: 7px solid #F08B00;
  text-align: right;
}

#sca02, #sca04 {
  border-left: 7px solid #F08B00;
  text-align: left;
}

#sca05 {
  margin-bottom: 4rem;
}
.sca-image{
  width: 35%;
  border-radius: 1rem;
  min-height: 10rem;
  max-height: 100%;
}

.sca-image.left {
  margin-right: 2rem;
}

.sca-image.right {
  margin-left: 2rem;
}

.download-container {
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.download-button {
    cursor: pointer;
    height: 4rem;
    width: 50%;
    max-width: 520px;
    background: #4AACC4;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
}

.sca-download-text {
  font-size: 1.3em;
}

.row {
  max-width: 136.6rem;
  margin: 0 auto;
}

.section__fluid {
  padding: 0;
}

.section__fluid:not(:last-child) {
  margin-bottom: 12rem;
}

.section__fluid--right {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 86.4em) {
  .section__fluid--right {
    padding: 0;
  }
}

.section__fluid--left {
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 86.4em) {
  .section__fluid--left {
    padding: 0;
  }
}

.section__fluid--audience {
  margin-bottom: 0 !important;
}

.section__form {
  background-color: #000;
  text-align: center;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.heading-tertiary--sub {
  color: #fff;
  line-height: 0.8;
}


.heading-4 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem !important;
}

.mb-md {
  margin-bottom: 3rem !important;
}

.mb-lg {
  margin-bottom: 4rem !important;
}

.mb-hg {
  margin-bottom: 6rem !important;
}

.mb-reset {
  margin-bottom: 0 !important;
}

.heading-tertiary {
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.2;
}

.heading-tertiary--sub {
  color: #fff;
  line-height: 0.8;
}

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  padding: 1.75rem 2rem;
  background: #efefef;
  border: none;
  border-radius: 30rem;
  border: none;
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: left;
}

.form__input:focus {
  outline: none;
}

.form__input::-webkit-input-placeholder {
  color: #4d4d4d;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__group--3-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  text-align: left;
  margin-top: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .form__group--3-col {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.form__group--3-col .heading-5,
.form__group--3-col .paragraph {
  color: #efefef;
}

.form__group--3-col .paragraph {
  font-size: 1.7rem;
}

.form .btn--primary {
  margin-top: 3rem;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 1.5rem;
  border-radius: 30rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn--primary {
  background-color: #ff9b15;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 1.5rem;
}

.btn--primary:hover {
  background-color: #f18a00;
}


.btn--secondary:hover {
  border: 2px solid #bfbfbf;
  background-color: #bfbfbf;
}

.btn--tertiary {
  font-weight: 400;
  color: #efefef;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border: 2px solid #efefef;
  background: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn--tertiary:hover {
  border: 2px solid #efefef;
  background-color: #efefef;
  color: #000;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 4rem;
  font-weight: bold;
}

.close.sca-close {
  z-index: 9999;
  width: 1em;
  height: 1em;
}

// .close.sca {
//   width: 1rem;
//   height: 1rem;
// }
// .close:hover,
// .close:focus {
//   color: #ffffff;
//   text-decoration: none;
//   cursor: pointer;
// }

/* Modal Content/Box */
.sca-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 0;
  // border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  // animation-name: animatetop;
  // animation-duration: 0.4s
}

/* Add Animation */
// @keyframes animatetop {
//   from { opacity: 0}
//   to {opacity: 1}
// }

@media only screen and (max-width: 48em) {
  .heading-tertiary {
    font-size: 2rem;
    
  }
  .btn--primary {
    font-size: 1rem;
  }
}

@media screen and (max-width: 895px) {
  #sca01, #sca02, #sca03, #sca04, #sca05 {
     border: none;
  }
  .sca-feature-section {
    flex-direction: column;
  }
  .sca-image {
    width: 100%;
  }
  .sca-image.left {
    margin-right: 0;
  }
  
  .sca-image.right {
    margin-left: 0;
  }
  .download-button{
    width: 80%;
  }
  .time-line {
    margin: 2.5rem 0;
    width: 80%;
  }
  .link-01 {
    bottom: -3rem;
    left: 0;
  }
  .link-02 {
    top: -3rem;
    left: 5rem;
  }
  .link-03 {
    bottom: -3rem;
    left: 8rem;
  }
  .link-04 {
    top: -3rem;
    right: 4rem;
  }
  .link-05 {
    bottom: -3rem;
    right: 1rem;
  }
  .sca-modal-content {
    width: 100%;
  }
}


