<div id="list-builder"></div>
<div id="popup-box">
    <img src="close.png" id="popup-close" />
    <div id="popup-box-content">
        <h1>Subscribe to The Polyglot Developer Newsletter</h1>
        <p>
            Stay up to date on the latest in web, mobile, and game development, plus receive exclusive content by
            subscribing to our newsletter.
        </p>
        <form id="popup-form" action="https://email_list_service_api.com">
            <input type="hidden" name="list" value="key_list_etc" />
            <input type="text" name="name" placeholder="Full Name" />
            <input type="text" name="email" placeholder="Email Address" />
            <button type="button" name="subscribe">Subscribe</button>
        </form>
    </div>
</div>


<!-- <div id="myModal" class="modal">

  <div class="modal-content">
    
    <div class="modal-body">
      <img class="close" src="/img/crotch.svg" alt="">
      <div class="contact-form">
      <h2 class="orange-text">Newsletter</h2>
      <p class="newsletter-form-text">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>  
        <form id="contact" action="" method="post">
          <input placeholder='{{ T "firstName" }}' type="text" tabindex="1" required>
          <input placeholder='{{ T "lastName" }}' type="text" tabindex="2" required>
          <input placeholder='{{ T "emailAddress" }}' type="email" tabindex="3" required>
          <button name="submit" class="circle small orange" type="submit" id="newsletter-submit" data-submit="...Sending">
            <p><span class="white-text">{{ T "newsletter" }}<br></span></p>
            <img class="arrow-dark-gray" src="/img/arrow-dark-gray.svg">
          </button>
        </form>
      </div>

    </div>

  </div>

</div> -->