{{ define "main" }}

<section class="wide no-hero light-gray">
	<section class="intro">
		<!-- <h2>Get in Touch</h2> -->
		<h2>{{ .Params.page_title }}</h2>
		<p>{{ .Params.intro_text }}</p>
	</section>
</section>

<section class="wide second">
	<div class="contact-form">  
	  <form id="contact" action="https://formspree.io/f/myyoprqr" method="post">
	    <h3>Contact Form</h3>
	    <fieldset>
	      <input placeholder='{{ T "firstName" }}*' type="text" tabindex="1" required>
	    </fieldset>    
	    <fieldset>
	      <input placeholder='{{ T "lastName" }}*' type="text" tabindex="2" required>
	    </fieldset>
	    <fieldset>
	      <input placeholder='{{ T "emailAddress" }}*' type="email" tabindex="3" required>
	    </fieldset>
	    <fieldset>
	      <input placeholder='{{ T "phoneNumber" }}' type="tel" tabindex="4">
	    </fieldset>
	    <fieldset>
	      <input placeholder='{{ T "companyName" }}' type="text" tabindex="5">
	    </fieldset>
	    <fieldset>
	      <textarea placeholder='{{ T "message" }}' tabindex="6"></textarea>
	    </fieldset>
	    <p class="obligated">{{ T "requiredField"}}</p>
	    <fieldset>
	      <button name="submit" class="circle small orange" type="submit" id="contact-submit" data-submit="...Sending"><p><span class="white-text">{{ T "send" }}<br> {{ T "message" }}<br></span></p><img class="arrow-dark-gray" src="/img/arrow-dark-gray.svg">
	      </button>
	    </fieldset>  
	  </form>
	</div>


	<div class="contact-address-cards">

		<section class="address-card">
			<h2><span class="orange-text">Y.digital</span> Netherlands</h2>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80400.82983716401!2d5.185603571817734!3d52.07417441685907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c65d67c35484ef%3A0x3636004ffd9b6fd9!2sArnhemse%20Bovenweg%20140%2C%203971%20MK%20Zeist%2C%20Netherlands!5e0!3m2!1sen!2srs!4v1645654410540!5m2!1sen!2srs" width="375" height="210" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
			<div class="address-card-text">
				<p class="label orange-text">email</p>
				<p><a href="mailto:result@y.digital">result@y.digital</a></p>
				<p class="label orange-text">phone</p>
				<p><a href="tel:+31302074274">+31 (0)30 – 207 42 74</a></p>
				<p class="label orange-text">address</p>
				<p>
				Arnhemse Bovenweg 140<br>
				3708 AH Zeist<br>
				The Netherlands
				</p>
			</div>
		</section>

		<section class="address-card">
			<h2><span class="orange-text">Y.digital</span> Asia</h2>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85263.52710697216!2d108.12499804868321!3d16.064679624234106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c5dcf664a3%3A0x455e3b535169d972!2zUXXhuqNuZyDEkMO0bmcgVG93ZXI!5e0!3m2!1sen!2srs!4v1645654529528!5m2!1sen!2srs" width="375" height="210" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
			<div class="address-card-text">
				<p class="label orange-text">email</p>
				<p><a href="mailto:result@y.digital">result@y.digital</a></p>
				<p class="label orange-text">phone</p>
				<p><a href="tel:+84904338147">+84 904 338 147</a></p>
				<p class="label orange-text">address</p>
				<p>
				104-106-108 Nui Thanh Street<br>
				2nd Floor, Quang Dong Building<br> 
				Da Nang City, Vietnam
				</p>
			</div>
		</section>
	</div>

</section>

{{ end }}