{{ define "main" }}
{{ partial "hero.html" . }}

<section class="wide light-gray">

	{{ partial "hero-circles.html" . }}

	<section class="intro">
		<p>{{ .Params.intro_text }}</p>
	</section>
</section>

<section class="wide second">

	{{ partial "features.html" . }}

{{ range .Params.boxes }}
  <section class="feature">
    {{ markdownify .text }}
  </section>
{{ end }}



<section class="card rect orange roof">

</section>
<hr class="house">
<div class="cards walls">
	{{ with .Params.conversational_ai }}	
	<section class="card solutions orange ca">
		<h3 class="list-heading">{{ .box_title }}</h3>
		<p class="card-text">{{ markdownify .box_text }}</p>
		<p class="read-more"><a href="{{ .link | relLangURL }}">Read more</a></p>
	</section>
	{{ end }}

	{{ with .Params.intelligent_document_processing }}
	<section class="card solutions orange idp">
		<h3 class="list-heading">{{ .box_title }}</h3>
		<p class="card-text">{{ markdownify .box_text }}</p>
		<p class="read-more"><a href="{{ .link | relLangURL }}">Read more</a></p>
	</section>
	{{ end }}
</div>
<hr class="house">
<section class="card rect orange ally">
	<!-- <h3 class="rect-heading">{{ .Title }}</h3> -->
	<h3 class="rect-heading">Ally</h3>
	<h4>Our open standard AI-platform</h4>
</section>

<section class="shelf">
	<h2>{{ .Params.h2heading }}</h2>
	<h3>{{ .Params.h3heading }}</h3>
</section>

<div class="box light-gray pd">
	<img src="/img/off-the-shelf.svg" alt="Off-the-shelf">
</div>

<!-- {{ partial "two-round-buttons.html" . }} -->

</section>


{{ end }}