// Fonts
$font-family: "Panton",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
sans-serif;

$code-font-family: SFMono-Regular,
Consolas,
Liberation Mono,
Menlo,
monospace;

// Colors
$orange: #EF8903 !default;
$blue: #4CACC6 !default;
$light-gray: #ECECEC !default;
$dark-gray: #35312A !default;
$gray-text: #474139 !default;
$orange-rgba: rgba(239, 136, 0, 1.0) !default;
$blue-rgba: rgba(75, 172, 197, 1.0) !default;
$light-gray-rgba: rgba(236, 236, 236, 1.0) !default;
$dark-gray-rgba: rgba(53, 49, 42, 1.0) !default;
$gray-text-rgba: rgba(71, 65, 57, 1.0) !default;

