{{ define "main" }}

{{ partial "hero.html" . }}

<section class="wide light-gray">
	
	{{ partial "hero-circles.html" . }}

	<section class="intro">
		<h1>{{ .Params.page_title }}</h1>
		{{ markdownify .Params.intro_text }}
	</section>
</section>

<section class="wide second white">
	{{ with .Params.blue_button }}	
	<a href="{{ .link }}">
		<div class="circle download small">
			<p>{{ .dark_text }}</p>
				<img class="arrow-small" src="/img/arrow-white.svg">
		</div>
	</a>
	{{ end }}

	{{ partial "features.html" . }}
	
	{{ partial "round-button.html" . }}


{{ range .Params.quote_slide }}
	<section class="square-card">
		<div class="square-text">
			<div class="quote">
				<p>“{{ .quote_text }}”</p>
			</div>
			<div class="author">
				<p>{{ .author }}<br><span class="from">{{ .from }}</span></p>
			</div>
		</div>
		<div class="author-image"><img src="{{ relURL .photo }}"></div>
	</section>
{{ end }}


{{ with .Params.media }}	
	<section class="media">
		<a href="{{ .first_item_link }}">
			<div class="media-item">
				<img src="/img/podcast.svg">
				<p>{{ .first_item }}</p>
			</div>
		</a>
		<a href="{{ .second_item_link }}">
			<div class="media-item">
				<img src="/img/download.svg">
				<p>{{ .second_item }}</p>
			</div>
		</a>
		<a href="{{ .third_item_link }}">
			<div class="media-item">
				<img src="/img/sign-up.svg">
				<p>{{ .third_item }}</p>
			</div>
		</a>
	</section>
{{ end }}


	{{ partial "feature.html" . }}

{{ partial "second-round-button.html" . }}

</section>
	<!-- {{ partial "newsletter.html" . }} -->
	<!-- {{ partial "newsscript.html" . }} -->
{{ end }}
